<h2>Showing results by category</h2>
<div class="row">

<div class="col-lg-4 col-md-6 mb-4" *ngFor="let products of productList">
    <div class="card h-100">    
        <a href="#"><img class="card-img-top" src="{{products.productImg}}"> </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="products/{{products.id}}">{{products.productName}}</a>
            </h4>
            <h5>$ {{products.price}}</h5>
            <p class="card-text">{{products.description}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{products.rating}} star</small>
        </div>
    </div>
</div>
</div>